// https://github.com/rsuite/rsuite/blob/main/src/styles/variables.less

@import 'node_modules/rsuite/styles/index.less';
// @import "@rsuite/styles/index.less";

@import './vars.less';

// Enable dark mode
// @enable-dark-mode: true;
@enable-ie-polyfill: false;

.space-resp {
  padding: @spacing-md;

  @media (max-width: 576px) {
    /* xs */
    padding: @spacing-xs;
  }

  @media (min-width: 576px) {
    /* sm */
    padding: @spacing-sm;
  }

  @media (min-width: 768px) {
    /* md */
    padding: @spacing-md;
  }

  @media (min-width: 992px) {
    /* lg */
    padding: @spacing-lg;
  }

  @media (min-width: 1200px) {
    /* xl */
    padding: @spacing-xl;
  }
}

.space-dense-resp {
  padding: @spacing-dense-md;

  @media (max-width: 576px) {
    /* xs */
    padding: @spacing-dense-xs;
  }

  @media (min-width: 576px) {
    /* sm */
    padding: @spacing-dense-sm;
  }

  @media (min-width: 768px) {
    /* md */
    padding: @spacing-dense-md;
  }

  @media (min-width: 992px) {
    /* lg */
    padding: @spacing-dense-lg;
  }

  @media (min-width: 1200px) {
    /* xl */
    padding: @spacing-dense-xl;
  }
}

.rs-breadcrumb {
  margin-bottom: unset;
}

.col-flex {
  display: flex;
  flex-direction: column;
  position: relative;
}

.toggle-floating {
  // parent has to be position: relative;
  position: absolute;
  top: 1.5rem;
  right: -0.7rem;
  background-color: @bg-grey;
  border: 1px solid @bg-grey-dark;
  width: 1.6rem;
  height: 1.6rem;
}


// scroll bar
/* width */
::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: @primary-color;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: @primary-color-light;
}

// scroll bar end

.menu-icon {
  font-size: 16px;
  margin-right: 20px;
  position: absolute;
  left: 18px;
  top: 15px;
  line-height: 1.25;
}
.rs-sidenav-item-active{
font-weight: bolder;
}
.rs-dropdown-item-active{
  font-weight: bolder !important;
}