@primary-color: #21348a;
@primary-color-light:#0a5dc2;
@bg-light:#ebebeb;
@bg-grey:#bcbcbc;
@bg-grey-dark:#9f9f9f;
@white:#fff;

@error-color: #e74c3c;    // Custom error color
@warning-color: #f39c12;  // Custom warning color
@success-color: #2ecc71;  // Custom success color
@info-color: #3498db;     // Custom info color
